<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="/socket.io/socket.io.js"></script>

    <script>
        const socket =  io.connect('http://localhost:3000/', { path: '/socket.io' });

        function enter_room(roomNum){
            $("#chat").show();
            $("#room1").hide();
            $("#room2").hide();
            $('#roomlist').hide();
            let nickname = window.localStorage.getItem("loginId");
            let obj = { roomNum, nickname };
            socket.emit("enterRoom", JSON.stringify(obj));
            socket.on("welcome", (message, roomNum, userNum)=> {
                $("#roomId").text(`방번호: ${roomNum}`);
                $("#userCount").text(`참여인원: ${userNum}`);
                let msgDiv = document.getElementById("chat");
                let ul = msgDiv.querySelector("ul");
                let li = document.createElement("li");
                li.innerText = message;
                ul.append(li);
            });
        };
        enter_room("2")

        function sendMessage(){
            let message = $("#msg").val();
            let room = $("#roomId").text();
            let roomNum = room.slice(-1);
            let nickname = window.localStorage.getItem("loginId");
            let obj = { roomNum, nickname, message };
            socket.emit("chat", JSON.stringify(obj));
            socket.on("contents", (roomNum, nickname, message)=>{
                let msgDiv = document.getElementById("chat");
                let ul = msgDiv.querySelector("ul");
                let li = document.createElement("li");
                li.innerText = `${nickname}:  ${message}`;
                ul.appendChild(li);
                document.getElementById("msg").value = "";
            });
        };

        socket.on("leaveUser", (message)=>{
            let msgDiv = document.getElementById("chat");
                let ul = msgDiv.querySelector("ul");
                let li = document.createElement("li");
                li.innerText = message;
                ul.append(li);
        });

        function moveRooms(){
            let loginId = window.localStorage.getItem("loginId");
            socket.disconnect();
            location.href='main';
        };


        function logout(){
            window.localStorage.removeItem("accesToken");
            window.localStorage.removeItem("loginId");
            window.localStorage.removeItem("user");
            location.href="/"
        };
    </script>
    </head>
<body>
    <div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" onclick="location.href='main'" role="tab" aria-controls="home" aria-selected="true">Rooms</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" onclick="location.href='main'" role="tab" aria-controls="profile" aria-selected="false">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" onclick="location.href='friends'" role="tab" aria-controls="contact" aria-selected="false">Friends</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" onclick="logout()" role="tab" aria-controls="contact" aria-selected="false">Logout</a>
            </li>  
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab"></div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab"></div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab"></div>
        </div>
    </div>
    <hr>
    <div id="chat">
        <h5 id="roomId"></h5>
            <p></p>
        <h5 id="userCount"></h5>
        <ul id="msglist">
        </ul>
        <input id="msg" placeholder="메세지를 입력하세요", required, type="text">
        <button onclick="sendMessage()" id="sendMsg"> send </button>
    </div>

</body>
</html>