<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script>
            function showRequest(){
            $("#request").empty();
            $("#request").show();
            const authToken = window.localStorage.getItem("accessToken");
            var ajax = $.ajax({
                    url: "/api/friends/",
                    type: 'GET',
                    dataType: "JSON",
                    beforeSend: function (xhr) {
                    xhr.setRequestHeader("Content-type","application/json");
                    xhr.setRequestHeader("Authorization", authToken);
                    },
                    success: function (result) {
                        const ul = document.querySelector("#request");
                        ul.setAttribute("class", "card");
                        $("#friends").empty();
                        result.data.map((val, idx)=>{
                            if(val.confirm === false && val.valid === true){
                                const { sender, createdAt, confirm, valid} = val
                                const li = document.createElement("div");
                                li.setAttribute("class", "list-group list-group-flush" );
                                const list = document.createElement("li");
                                list.setAttribute("class", "list-group-item" );
                                list.innerText = `📢 신청인: ${sender} / 신청일: ${createdAt.slice(0,10)}`;
                                const accept_btn = document.createElement('button');
                                const reject_btn = document.createElement('button');
                                list.setAttribute("id", val.friendsId);
                                accept_btn.setAttribute("class", "accept btn btn-info");
                                accept_btn.setAttribute("id", val.friendsId);
                                accept_btn.setAttribute("style","margin-left: 50px; margin-right: 5px");
                                reject_btn.setAttribute("class", "reject btn btn-secondary");
                                reject_btn.setAttribute("id", val.friendsId);
                                const accept_text = document.createTextNode('수락');
                                const reject_text = document.createTextNode('거절');
                                ul.appendChild(li);
                                li.appendChild(list)
                                list.appendChild(accept_btn);
                                accept_btn.appendChild(accept_text);
                                list.appendChild(reject_btn);
                                reject_btn.appendChild(reject_text);
                            }
                        });
                        const accepts = document.querySelectorAll(".accept");
                        for (let i = 0; i < accepts.length; i++) {
                            let friendsId = $(accepts[i]).attr('id');
                            accepts[i].addEventListener("click", acceptReq);
                        };

                        const rejects = document.querySelectorAll(".reject");
                        for (let i = 0; i < rejects.length; i++) {
                            rejects[i].addEventListener("click", rejectReq);
                        };
                    },
                    error: function(result){
                        const isSigned = result.responseJSON.errorMessage;
                        alert(isSigned);
                        if(isSigned === "로그인이 필요한 기능입니다."){
                            location.href="/";
                        };
                    }
                });
            };
        showRequest();

        function acceptReq(){
            let friendsId = $(this).attr('id');
            const authToken = window.localStorage.getItem("accessToken");
            var param = {};
            param.friendsId = friendsId;
            var ajax = $.ajax({
                url: "/api/friends/add",
                type: 'POST',
                data: param,
                dataType: "JSON",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization", authToken);
                },
                success: function (result) {
                    alert(result.message);
                    location.reload();
                },
                error: function(result){
                    alert(result.responseJSON.error);
                }
            });
        };

        function rejectReq(){
            let friendsId = $(this).attr('id');
            const authToken = window.localStorage.getItem("accessToken");
            var param = {};
            param.friendsId = friendsId;
            var ajax = $.ajax({
                url: "/api/friends/add",
                type: 'DELETE',
                data: param,
                dataType: "JSON",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization", authToken);
                },
                success: function (result) {
                    alert(result.message);
                    location.reload()
                },
                error: function(result){
                    console.log(result);
                    alert(result.responseJSON.error);
                }
            });
        };


        function showList(){
            $("#request").hide();
            $("#friends").empty();
            const authToken = window.localStorage.getItem("accessToken");
            var ajax = $.ajax({
                    url: "/api/friends/me",
                    type: 'GET',
                    dataType: "JSON",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("Content-type","application/json");
                        xhr.setRequestHeader("Authorization", authToken);
                    },
                    success: function (result) {
                        const ul = document.querySelector("#friends");
                        ul.setAttribute("class", "card");
                        $("#users").empty();
                        result.result.map((val, idx)=>{
                            const li = document.createElement("div");
                            li.setAttribute("class", "list-group list-group-flush" );
                            const list = document.createElement("li");
                            const friendId = val.Id;
                            const createdAt = val.createdAt.slice(0,10);
                            list.innerText = ` 📢 User:${friendId} / 가입일:${createdAt}`;
                            ul.appendChild(li);
                            li.appendChild(list)
                            list.setAttribute("class", `${friendId} list-group-item`);
                            const btn = document.createElement('button');
                            btn.setAttribute("id", friendId);
                            btn.setAttribute("class", "deleteBtn btn btn-dark");
                            btn.setAttribute("style","margin-left: 20px; margin-right: 5px");
                            let text = document.createTextNode('친구삭제');
                            list.appendChild(btn);
                            btn.appendChild(text);
                        });
                        const deletes = document.querySelectorAll(".deleteBtn");
                        for (let i = 0; i < deletes.length; i++) {
                            deletes[i].addEventListener("click", dropFriend);
                        };
                    },
                    error: function(result){
                        const isSigned = result.responseJSON.errorMessage
                        alert(isSigned);
                        if(isSigned === "로그인이 필요한 기능입니다."){
                            location.href="/"
                        };
                    }
                });
        };

        function dropFriend(){
            let friendId = $(this).attr('id');
            const authToken = window.localStorage.getItem("accessToken");
            var param = {};
            param.friendId = friendId;
            var ajax = $.ajax({
                url: "/api/friends/me",
                type: 'PATCH',
                data: param,
                dataType: "JSON",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization", authToken);
                },
                success: function (result) {
                    alert(result.message);
                    $(`#${friendId}`).remove();
                    $(`.${friendId}`).remove();
                },
                error: function(result){
                    alert(result.responseJSON.error);
                }
            });
        };

        function logout(){
            window.localStorage.removeItem("accesToken");
            window.localStorage.removeItem("loginId");
            window.localStorage.removeItem("user");
            location.href="/"
        };
    </script>
    </head>
<body>
    <div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" onclick="location.href='main'" role="tab" aria-controls="home" aria-selected="true">Rooms</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" onclick="location.href='main'" role="tab" aria-controls="profile" aria-selected="false">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" onclick="location.href='friends'" role="tab" aria-controls="contact" aria-selected="false">Friends</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" onclick="logout()" role="tab" aria-controls="contact" aria-selected="false">Logout</a>
            </li>  
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab"></div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab"></div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab"></div>
        </div>
    </div>
    <div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" onclick="showRequest()" role="tab" aria-controls="home" aria-selected="true">수신함</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" onclick="showList()" role="tab" aria-controls="profile" aria-selected="false">친구목록</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab"></div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab"></div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab"></div>
        </div>
    </div>
    <div id="request">
    </div>
    <div id="friends">
    </div>
</body>
</html>