<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    function login(){
        var param = {};
        param.loginId = $("#userid").val();
        param.password = $("#password").val();
        var ajax = $.ajax({
                    url: "/api/users/login",
                    data: param,
                    type: 'POST',
                    dataType: "JSON",
                    success: function(result){
                        console.log(result);
                        window.localStorage.setItem("loginId", result.loginId);
                        window.localStorage.setItem("accessToken", result.accessToken);
                        window.localStorage.setItem("user", result);
                        location.href = "/main";
                    },
                    error: function(result){
                    console.log(result);
                    alert(result.responseJSON.error);
                }
            });
        };
</script>

<div style="width:420px;">
    <h1>Login</h1>
    <div id="login" style="text-align:right;"></span><a href="signup">Signup</div>
    <hr>
    <div  id="loginout" style="display:none;">  
        <span id="loginid"></span> <a href="/logout">로그아웃</a>
    </div>
    <div>
        <div>
            <div >ID  : <input type="text" id="userid" name="userid" style="width:50%;"> </div>
            <div>Password  : <input type="password" id="password"  name="password" style="width:50%;"> </div>
        </div>
        <div></div>
    </div>
    <div  style="margin-top:8px;text-align:right;"> <input type="button" value="Login" onclick="login();" /></div>
</div>