<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script>
        const socket =  io.connect('http://localhost:3000/', { path: '/socket.io' });
        socket.disconnect();

        socket.on("list", (userNum1, userNum2)=>{
            $('#userNum1').text(userNum1);
            $('#userNum2').text(userNum2);
            console.log(userNum1, userNum2);
        });

        function showRooms(){
            $("#chat").hide()
            $("#roomlist").show();
            $("#users").hide();
            const nickname = window.localStorage.getItem("loginId")
            socket.disconnect();
        };
        
        let hidden = 0
        function showUsers(){
            $("#users").show();
            $("#roomlist").hide();
            $("#chat").hide();
            function getUsers(){
            const authToken = window.localStorage.getItem("accessToken");
            var ajax = $.ajax({
                    url: "/api/users",
                    type: 'GET',
                    dataType: "JSON",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("Content-type","application/json");
                        xhr.setRequestHeader("Authorization", authToken);
                    },
                    success: function (result) {
                        alert(result.message);
                        console.log(result)
                        const ul = document.querySelector("#users");
                        $("#users").empty();
                        result.isFriend.map((val, idx)=>{
                            const li = document.createElement("div");
                            const loginId = val.loginId;
                            const createdAt = val.createdAt.slice(0,10);
                            const friends = val.list.length;
                            const { isFriend } = val;
                            li.innerText = `User:${loginId} / 가입일:${createdAt} / 친구 수:${friends}`;
                            const hr = document.createElement('hr');
                            ul.appendChild(li);
                            if(val.isFriend === false ){
                                const btn = document.createElement('button');
                                btn.setAttribute("id", loginId);
                                btn.setAttribute("class", "reqBtn");
                                let text = document.createTextNode('친구요청');
                                ul.appendChild(btn);
                                btn.appendChild(text);
                            };
                            ul.appendChild(hr);
                        });
                        const cols = document.querySelectorAll(".reqBtn");
                        for (let i = 0; i < cols.length; i++) {
                            cols[i].addEventListener("click", sendReq);
                        };
                    },
                    error: function(result){
                        const isSigned = result.responseJSON.errorMessage
                        alert(isSigned);
                        if(isSigned === "로그인이 필요한 기능입니다."){
                            location.href="/"
                        };
                    }
                });
            };
        getUsers();

        function sendReq(){
            let loginId = $(this).attr('id');
            const authToken = window.localStorage.getItem("accessToken");
            var param = {};
            param.receiver = loginId;
            var ajax = $.ajax({
                url: "/api/friends/",
                type: 'POST',
                data: param,
                dataType: "JSON",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization", authToken);
                },
                success: function (result) {
                    console.log(result);
                    alert('친구 요청이 완료되었습니다.')
                    $(`#${loginId}`).remove();
                },
                error: function(result){
                    console.log(result);
                    alert(result.responseJSON.error);
                }
            });
        };
    };
        function logout(){
            window.localStorage.removeItem("accesToken");
            window.localStorage.removeItem("loginId");
            window.localStorage.removeItem("user");
            location.href="/";
        };
    </script>
    <style>
    </style>
</head>
<body>
    <div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" onclick="showRooms()" role="tab" aria-controls="home" aria-selected="true">Rooms</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" onclick="showUsers()" role="tab" aria-controls="profile" aria-selected="false">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" onclick="location.href='friends'" role="tab" aria-controls="contact" aria-selected="false">Friends</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" onclick="logout()" role="tab" aria-controls="contact" aria-selected="false">Logout</a>
            </li>  
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab"></div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab"></div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab"></div>
        </div>
    </div>

    <hr>

    <div id="roomlist">
        <ul class="list-group">
            <li id="room1" class="list-group-item d-flex justify-content-between align-items-center">
                <h4>room1</h4>
                <!-- <span id="roomNum">1</span> -->
                <span id="UserNum1" class="badge badge-primary badge-pill">1</span>
                <!-- <button onclick="enter_room('1')">입장</button> -->
                <button onclick="location.href='chatroom1'">입장</button>
            </li>
            <li  id="room2" class="list-group-item d-flex justify-content-between align-items-center">
                <h4>room2</h4>
                <!-- <span id="roomNum">2</span> -->
                <span id="UserNum2" class="badge badge-primary badge-pill">2</span>
                <button onclick="location.href='chatroom2'">입장</button>
            </li>
        </ul>
    </div>
    <!-- <div id="chat">
        <h5 id="roomId"></h5>
            <p></p>
        <h5 id="userCount"></h5>
        <ul id="msglist">
        </ul>
        <input id="msg" placeholder="메세지를 입력하세요", required, type="text">
        <button onclick="sendMessage()" id="sendMsg"> send </button>
    </div> -->
    
    <hr>
    <div id="users">
    </div>  
</body>
</html>
